name: Update Blog Post
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  update-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run update script
        env:
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
          PDS_URL: ${{ secrets.PDS_URL }}
          DID: ${{ secrets.DID }}
          HANDLE: ${{ secrets.HANDLE }}
          RKEY: "3lqyx2g4fk42z"
          MARKDOWN_PATH: "./posts/blog-post.md"
        run: deno run --allow-net --allow-read --allow-env main.ts
